{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>


<p>
   This project is designed to train new employees in human resources department. 
   This application will help new HR employees with the common interview questions and sample answers. 
   The employee can give appropriate questions to the applicant to reduce bias.
</p>

</p>
   The goal is to reduce bias in the interview process
   and increase equality in various companies. Equality 
   is important during the applicant process and 
   bias can prevent this from happening. 
</p>

{% endblock %}
