{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>AlecView</h1>
    <p class="lead">Welcome to the AlecView!</p>
    <p><a href="https://github.com/kiwihero/alecView" class="btn btn-warning btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Educate</h2>
        <p>
            AlecView is used to educate employees who are new
            to interviewing applicants. Job seekers can also use this 
            application to prepare their own responses for 
            interviews. 
        </p>
       
    </div>
    <div class="col-md-4">
        <h2>Learn</h2>
        <p>Learn what is a acceptable answer to a question and what is considered a neagtive response.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Train</h2>
        <p>AlecView can assit with training 
           in the human resources department. 
        </p>
      
    </div>
</div>

{% endblock %}
